
.vs/BankLedger/v15/.suo
.vs/BankLedger/v15/Server/sqlite3/db.lock
.vs/BankLedger/v15/Server/sqlite3/storage.ide
.vs/BankLedger/v15/Server/sqlite3/storage.ide-shm
.vs/BankLedger/v15/Server/sqlite3/storage.ide-wal
BankLedger/App.config
BankLedger/BankLedger.csproj
BankLedger/obj/Debug/BankLedger.csproj.CoreCompileInputs.cache
BankLedger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BankLedger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BankLedger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BankLedger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BankLedger/Properties/AssemblyInfo.cs
BankLedger/bin/Debug/BankLedger.exe
BankLedger/bin/Debug/BankLedger.exe.config
BankLedger/bin/Debug/BankLedger.pdb
BankLedger/obj/Debug/BankLedger.csproj.FileListAbsolute.txt
BankLedger/obj/Debug/BankLedger.csprojAssemblyReference.cache
BankLedger/obj/Debug/BankLedger.exe
BankLedger/obj/Debug/BankLedger.pdb
